@import "../../../style/Variables.scss";

.greetings-area-mobile {
  position: relative;
  .step-1 {
    position: absolute;
    left: -34px;
    width: 390px;
    height: 390px;
    bottom: 15px;
    background: $step-1-color;
    border-radius: 50%;
    opacity: 0.4;
    transition: all 0.8s;

    .step-2 {
      position: absolute;
      left: 34px;
      width: 328px;
      height: 328px;
      background: $step-2-color;
      bottom: 65px;
      border-radius: 50%;
      transition: all 0.8s;

      .step-3 {
        position: absolute;
        left: 41px;
        width: 240px;
        height: 240px;
        bottom: 60px;
        background: $step-3-color;
        border-radius: 50%;
        transition: all 0.8s;
      }
    }
  }

  .fikriye-img {
    position: absolute;
    left: 125px;
    top: 10px;
    width: 62px;
    height: 110px;
    z-index: 1;
  }

  .step-1-changed {
    background: $step-1-color-changed;
    .step-2-changed {
      background: $step-2-color-changed;
      .step-3-changed {
        background: $step-3-color-changed;
      }
    }
  }

  .sun-rectangle-changed {
    background: $sun-rectangle-color-changed !important;
  }

  .sun-rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 328px;
    height: 235px;
    margin: 40px 0 0;
    position: relative;
    object-fit: contain;
    background: $sun-rectangle-color;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.8s;

    h2 {
      text-align: center;
      width: 200px;
      margin-top: 50px;
      color: $white-color;
      z-index: 1;
    }
  }
}
